
@{
    ViewBag.Title = "GetProducts";
}
@using SSGeek.Models;
@model List<Product>



<section id="main-content">
    <div>
        <h2 style="text-align:center">Solar System Geek Gift Shop</h2>
        @foreach (Product prod in Model)
        {
            <div style="display:inline-block;margin-left:40px" >

               @*anchor tag with image link to product detail*@ 
                <a href='@Url.Action("ProductDetail", "Product", new { id = prod.ProductId })'>
                    <img src='@Url.Content("~/Content/img/" + @prod.ImageName)' 
                         class="product-img"/>
                </a>

            </div>
            <div style="display:inline-block; width: 500px; vertical-align:top">
                <h4>@prod.Name</h4>
                <h4 style="color:deepskyblue">@prod.Price.ToString("C")</h4>

            </div>
            <br />
        }

    </div>
</section>

