
@{
    ViewBag.Title = "ForumView";
}

@using SSGeek.Models;

@model List<ForumPost>
<h2>ForumView</h2>
<section id="main-content">
    <h2 id="header-post"> Solar System Geek Forum</h2>
    @Html.ActionLink("Post a Message", "ForumPost", "Forum")

    @foreach (ForumPost post in Model)
    {
        <div id="post-div">
            <h3><strong>@post.Subject</strong></h3>
            <p style="display:inline-block">by @post.Username on @post.PostDate.ToShortDateString() at @post.PostDate.ToShortTimeString()</p>
            <p>@post.Message</p>
        </div>
    }




</section>

